* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.parent {
  display: grid;
  width: 100%;
  max-width: 800px;
  height: 750px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 1px 1px 10px black;
  margin-top: 50px;
}

/* child styling */
.child1 {
  grid-column: 1 / 3;
  grid-row: 1/2;
  background-color: white;
  display: flex;
}

.child1-content{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 50px;
}
.child1-content h2{
    margin-top:10px;
    margin-bottom:10px;
}
.child1-img{
    margin-top: 50px;
}

.child2 {
  grid-column: 3/5;
  grid-row: 1/2;
  background-color: #f7f9f8;
  text-align: center;
}
.child2-content{
    padding-left: 50px;
    margin-top: 50px;
}
.child2-content h2{
    margin-top:10px;
    margin-bottom:10px;
}

.child3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #ef5636;
  text-align: center;
}
.child3-content{
    margin-top: 50px;
    margin-bottom: 20px;
}
.child3-content a{
    color: rgba(248, 248, 23, 0.932);
    text-decoration: none;
    font-size: small;
}
.child3-content img{
    border-radius: 50%;
}

.child4 {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #f6f9f9;
  text-align: center;
}
.child4-content{
    margin-top: 50px;
    margin-bottom: 20px;
}
.child4-content a{
    text-decoration: none;
    font-size: smaller;
}
.child5 {
  grid-column: 4/5;
  grid-row: 2/4;
  background-color: #8e77bc;
}
.child5-content{
  display: flex;
  margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    background-color: violet;
    border-radius: 15px;
    padding: 5px 5px;
    margin-bottom: 10px;
    font-size: smaller;
    color: white;
}

.child5-content #cont{
    padding-left:15px;
    margin-top: 15px;
    font-size: x-small;
    color: white;
}
.child5-content button{
    border:none;
    margin-top: 40px;
    padding:10px 20px;
    border-radius: 20px;
    background-color: #f9c847;
    font-weight: bold;
}
.child5-content img{
    margin: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}


.child6 {
    display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: #fefffe;
  padding-left: 10px;
}

.left{
    font-size: medium;
    flex-direction: column;
}
.left p{
    margin-top: 10px;
    font-weight: 100;
}
.left h2{
    margin-top: 20px;
}
.left img{
    margin-top: 25px;
}
.right p{
    margin-top: 20px;
    padding-left:110px;
}
.right a{
    margin-top: 20px;
    padding-left: 110px;
    text-decoration: none;
}
.child7 {
  grid-column:2/4;
  grid-row: 3/4;
  background-color: #93b7b6;
}
.child7 button{
    background-color: #ef5636;
    padding:auto;
    text-align: center;
    margin-top: 4px;
    margin-left: 10px;
    border-radius: 10px;
}
.child7-content{
    text-align: center;
    color:white;
}
.child7-content h2{
    margin-top: 10px;
}
.child7-content img{
    margin-top: 25px;
    border-radius: 15px;
}


@media screen and (max-width:600px){
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
        height: auto;
    }
}