/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* nav styling */
nav {
  height: 60px;
  background-color: white;
  display: flex;
  padding-left: 60px;
  align-items: center;
}
nav h1 {
  color: red;
  font-size: x-large;
}

/* main */
main {
  height: 400px;
  background-color: red;
  display: flex;
  align-items: center;
  padding: 0 80px;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content h1 {
  color: white;
  font-size: 3.5rem;
  margin-bottom: 30px;
}
.content h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}
/* Text wrapper for left side */
.text-content {
  flex: 1;
  max-width: 60%;
}
.logo {
  margin-left: 60px;
  border-radius: 50%;
}

/* footer */
.card {
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.card .row {
  flex: 1;
  background-color: rgb(102, 26, 26);
  padding: 20px;
  border-right: 7px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card h2 {
  margin-bottom: 20px;
  color: white;
}
.card p {
  font-size: 1.2rem;
  color: rgb(134, 42, 42);
}
.card .row:last-child {
  border-right: none;
}
