/* Hide everything by default */
img {
    display: none;
    width: 500px;
}

/* ≤ 500px → Show Image 1 */
@media screen and (max-width: 500px) {
    body {
        background-color: blue;
    }

    img:first-of-type {
        display: block;
    }
}

/* 501px – 700px → Show No Image */
@media screen and (min-width: 501px) and (max-width: 700px) {
    body {
        background-color: green;
    }

    img {
        display: none;
    }
}

/* ≥ 701px → Show Image 2 */
@media screen and (min-width: 701px) {
    body {
        background-color: red;
    }

    #change {
        display: block;
    }
}
