/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* main styling */
.main{
    height:60vh;
    background: url("https://mobirise.com/extensions/voyagem4/turism/assets/images/tours4-1-1200x800.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.content1{
    color:white;
    text-align: center;
}
.content1 h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.main button{
    border:none;
    background-color: rgb(255, 179, 0);
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor:pointer;
}
/* about styling */
.outdoor {
  padding: 70px 0;
  background: #fff;
}

.outdoor-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.outdoor-text h2 {
  font-size: 48px;
  font-weight: 900;
  color: #0b3a78;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 18px;
}

.outdoor-text p {
  font-size: 13px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 14px;
  max-width: 420px;
}

.outdoor-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box {
  width: 520px;
  height: 280px;
  background: #eee;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tourism {
  background: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 150px;
}

.tourism-wrapper {
  display: flex;
  gap: 60px;
}

.tourism-title {
  margin-top: 20px;
}

.tourism-title h2 {
  font-size: 36px;
  font-weight: 900;
  color: #0b3a78;
  text-transform: uppercase;
}

.tourism-cards {
  margin-left: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.tour-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
}

.tour-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.tour-card p {
  font-size: 14px;
  color: #333;
}


.suits {
  padding-left: 100px;
  background: #fff;
}

.suits-title {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  color: #0b3a78;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 12px;
}

.tab {
  text-decoration: none;
  color: #0b3a78;
  padding-bottom: 10px;
  position: relative;
}

.tab.active {
  color: #0b3a78;
}

.tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background: #f5a400;
}

.tab-line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-top: 10px;
}