*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent{
    width: 1000px;
    margin:auto;
    height: 700px;
    margin-top: 70px;
    border:1px solid gray;
    display: grid;
    /* decide the no. of rows and columns */
    /* units that can be used %,px,fr(recommended) */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:10px; /*gap b/w each cell*/

}
.child1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: aqua;
}
.child2{
    /* another way to write grid-column/row-start/end */
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: brown;
}
.child3{
    /* another way to write grid-column/row-start/end */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: orange;
}
.child4{
    /* another way to write grid-column/row-start/end */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: orangered;
}
.child5{
    /* another way to write grid-column/row-start/end */
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color:  darkgray;
}
.child6{
    grid-column: 3 / 4;
    grid-row: 2/5;
    background-color: blue;
}
.child7{
    grid-column: 4 / 5;
    grid-row: 2/5;
    background-color: green;
}

