*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent{
    display: grid;
    /* border: 1px solid black; */
    width:100%;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
    gap:10px;
}

/* child styling */
.child1{
    grid-row:1/2;
    grid-column:1/3 ;
    background-color: #6d41c0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
}
img{
    width:30px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
}
.header{
    margin-top: 40px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap:15px;
}
h4{
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.role{
    font-size: 0.5rem;
    color: white;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-left:50px;
}
.content{
    font-size: 1rem;
    padding-left:50px;
    color: rgb(169, 98, 236);
    font-weight: 500;
}

.child2{
    grid-row:2/3;
    grid-column:1/2 ;
    background-color: #fefffe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
}

.header2{
    margin-top: 40px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap:15px;
}

.title2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-left:50px;
    color: black;
}

.content2{
    font-size: 1rem;
    padding-left:50px;
    color: gray;
    font-weight: 500;
}

.role2{
    font-size: 0.5rem;
    color: gray;
}


.child3{
    grid-row:2/3;
    grid-column:2/4 ;
    background-color: #1b202d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
}

.header3{
    margin-top: 40px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap:15px;
}

.title3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-left:50px;
    color: white;
}

.content3{
    font-size: 1rem;
    padding-left:50px;
    color: lightgray;
    font-weight: 500;
}

.role3{
    font-size: 0.5rem;
    color: white;
}


.child4{
    grid-row:1/2;
    grid-column:3/4 ;
    background-color: #4a5469;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
}

.header4{
    margin-top: 40px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap:15px;
}

.title4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-left:50px;
    color: white;
}

.content4{
    font-size: 1rem;
    padding-left:50px;
    color: lightgray;
    font-weight: 500;
}

.role4{
    font-size: 0.5rem;
    color: white;
}

.child5{
    grid-column:4/5;
    grid-row: 1/3;
    background-color: #fefffe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px black;
}
.header5{
    margin-top: 40px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap:15px;
}

.title5{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-left:50px;
    color: black;
}

.content5{
    font-size: 1rem;
    padding-left:50px;
    color: gray;
    font-weight: 500;
}

.role5{
    font-size: 0.5rem;
    color: gray;
}

.white-bg-name{
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

@media screen and (max-width:600px){
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
        height: auto;
    }
}