*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* sidebar styling */
.sidebar{
    text-align: center;
    width: 300px;
    height: 900px;
    display: flex;
    flex-direction:column;
    background-color: pink;
    flex: 0 0 300;
    flex-grow: 0;
    flex-shrink: 0;
}

/* main styling */
main{
    width: 1000px;
}
main h1{
    text-align: center;
    margin-bottom: 125px;
}
.card{
    flex: 0 0 250px;
    padding: 25px;
    margin-bottom: 50px;
    background-color: orange;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
body{
    display: flex;
    margin: auto;
    background-color: grey;
}

@media screen and (max-width:1000px){
    .row{
        flex-wrap: wrap;
        flex: 0 0 45%;
    }
}